@using HangFireMailerDemo.Models
@model IEnumerable<HangFireMailerDemo.Models.Comment>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var item in Model)
    {
        <li>
            <h3>@item.UserName</h3>
            <p>@item.Text</p>
        </li>
    }
</ul>
@Html.Partial("Create", new Comment())